{% extends 'base.html.twig' %}

{% block css %}
<link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}

<section id="about" class="about-section">
    <div class="about-content">
        <div class="about-text">
            <h1>Salut, moi c’est <span>Alvin</span></h1>
            <h2>Développeur full-stack orienté web et spécialisé dans les applications Symfony</h2>

            <h3>Ce qu'il faut savoir sur moi</h3>
            <p class="about-description">Développeur web depuis plus de 4 ans, je conçois des applications web
                fiables et maintenables, en transformant des besoins métiers complexes en solutions simples et
                efficaces. J’ai travaillé sur des applications web, des APIs, de l’automatisation de processus et des
                refontes d’outils existants, avec une attention particulière portée à la qualité du code et à
                l’expérience utilisateur.</p>

            <a href="#projects-carousel" class="about-cta">Découvrir mes projets <i class="fa-solid fa-arrow-down"></i></a>
        </div>

        <div class="about-photo">
            <img src="{{ asset('media/me.jpeg') }}" alt="Superbe photo de moi">
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script src="{{ asset('js/carrousel.js') }}"></script>
{% endblock js %}