<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Alvin Carneiro 👨🏻‍💻{% endblock %}</title>
    <link rel="icon" href="{{ asset('media/favicon.png') }}" sizes="48x48" type="image/png">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    {% block css %}{% endblock %}
    <script src="https://kit.fontawesome.com/6f4e25e570.js" crossorigin="anonymous"></script>
    {% block js_head %}{% endblock %}
</head>

<body>
    <nav id="main-navbar">
        <div class="nav-container">
            <div class="nav-toggle">
                <i class="fa-solid fa-bars"></i>
            </div>

            <a href="{{ path('app_home') }}" class="logo">Alvin Carneiro</a>

            <ul class="nav-links">
                <li class="dropdown">
                    <p class="dropdown-toggle">Projects</p>
                    <ul class="dropdown-menu">
                        <li><a href="/projects/listen-my-mood">Listen My Mood</a></li>
                        <li><a href="/projects/brodart">BrodArt</a></li>
                    </ul>
                </li>
                <li><a href="#about">À propos de moi</a></li>
                <li><a href="#skills">Compétences</a></li>
                <li><a href="#experience">Experiences professionnelles</a></li>
                <li><a href="#formation">Formation</a></li>
                <li><a href="#contact">Me contacter</a></li>
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}
    <script src="https://code.jquery.com/jquery-4.0.0.js" crossorigin="anonymous"></script>
    <script src="{{ asset('js/app.js') }}"></script>
    {% block js %}{% endblock %}
</body>

</html>